@keyframes grayScale{
    to{
        filter: grayscale(1);
    }
}

@keyframes modalBg{
    /* from{
        backdrop-filter: graysacle(1);
    } */
    to{
        backdrop-filter: blur(1px);
    }
}