:root {
  --color-primary: black;
  --color-secondary: rgb(255, 153, 0);
  --color-secondary-hover: #c78201;
  --color-font: rgb(242, 242, 242);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  font-size: 1.5em;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-font);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-font);
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-font);
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-font);
  opacity: 1;
  /* Firefox */
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* body{
    background-image: url('../img/bg/pexels-photo-1141853.webp');
    background-repeat: no-repeat;
    background-size: cover;
    animation: grayScale 1s ease-in-out 2s forwards
} */
img.bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  -webkit-animation: grayScale .7s ease-in-out 1s forwards;
          animation: grayScale .7s ease-in-out 1s forwards;
  z-index: 1;
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .form-wrap {
  background-image: url("../img/bg/pexels-photo-1141853.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 97%;
  max-width: 500px;
  height: 700px;
  -webkit-animation: modalBg 1s ease-in-out 1s forwards;
          animation: modalBg 1s ease-in-out 1s forwards;
}

main .form-wrap .form {
  width: 100%;
  height: 100%;
  padding: 35px;
  -webkit-animation: formBg1 .7s ease-in-out 1s forwards, formBg2 1s ease-in-out 1.8s forwards;
          animation: formBg1 .7s ease-in-out 1s forwards, formBg2 1s ease-in-out 1.8s forwards;
}

main .form-wrap .form .mode-wrap {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  opacity: 1;
}

main .form-wrap .form .mode-wrap .mode {
  margin-right: 25px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--color-font);
  text-transform: uppercase;
  position: relative;
}

main .form-wrap .form .mode-wrap .mode::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 0px;
  left: 0;
  bottom: 0px;
  background: var(--color-secondary-hover);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

main .form-wrap .form .mode-wrap .mode:hover::before {
  width: 100%;
}

main .form-wrap .form .mode-wrap .mode-active {
  position: relative;
}

main .form-wrap .form .mode-wrap .mode-active::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 0px;
  background: var(--color-secondary);
}

main .form-wrap .form .mode-content .sing-in-content .input-container {
  opacity: 1;
  padding: 60px 10px;
}

main .form-wrap .form .mode-content .sing-in-content .input-container input {
  color: var(--color-font);
  padding: 10px;
  width: 100%;
  height: 45px;
  margin-bottom: 70px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-font);
}

@-webkit-keyframes grayScale {
  to {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
}

@keyframes grayScale {
  to {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
}

@-webkit-keyframes modalBg {
  /* from{
        backdrop-filter: graysacle(1);
    } */
  to {
    -webkit-box-shadow: 0px 15px 25px 5px #00000096;
            box-shadow: 0px 15px 25px 5px #00000096;
  }
}

@keyframes modalBg {
  /* from{
        backdrop-filter: graysacle(1);
    } */
  to {
    -webkit-box-shadow: 0px 15px 25px 5px #00000096;
            box-shadow: 0px 15px 25px 5px #00000096;
  }
}

@-webkit-keyframes formBg1 {
  from {
    -webkit-backdrop-filter: grayscale(0);
            backdrop-filter: grayscale(0);
  }
  to {
    -webkit-backdrop-filter: grayscale(1);
            backdrop-filter: grayscale(1);
  }
}

@keyframes formBg1 {
  from {
    -webkit-backdrop-filter: grayscale(0);
            backdrop-filter: grayscale(0);
  }
  to {
    -webkit-backdrop-filter: grayscale(1);
            backdrop-filter: grayscale(1);
  }
}

@-webkit-keyframes formBg2 {
  0% {
    -webkit-backdrop-filter: grayscale(1) blur(0px);
            backdrop-filter: grayscale(1) blur(0px);
  }
  /* 50%{
        backdrop-filter: grayscale(.5) blur(1.5px);
        
    } */
  100% {
    background-color: rgba(0, 0, 0, 0.137);
    -webkit-backdrop-filter: grayscale(0) blur(3px);
            backdrop-filter: grayscale(0) blur(3px);
  }
}

@keyframes formBg2 {
  0% {
    -webkit-backdrop-filter: grayscale(1) blur(0px);
            backdrop-filter: grayscale(1) blur(0px);
  }
  /* 50%{
        backdrop-filter: grayscale(.5) blur(1.5px);
        
    } */
  100% {
    background-color: rgba(0, 0, 0, 0.137);
    -webkit-backdrop-filter: grayscale(0) blur(3px);
            backdrop-filter: grayscale(0) blur(3px);
  }
}

@-webkit-keyframes opacityEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */